<script type="text/javascript">
    $(function () {
        $("#masterTitle").html("<i class='fa fa-search'></i> WLAN Listesi");
        $("#masterDescription").text("Sistemde tanımlı WLAN'ları listeler.");
        LoadListData();
    });

    function LoadListData() {
        $("#tableWlanListesi").dataTable({
            "sAjaxSource": "Default/JsonSorgulaList",
            "aaSorting": [[1, 'asc']],
            "fnDrawCallback": function() {
                $(".isle").click(function () {
                    Isle($(this).attr("Id"));
                });
            },
            "aoColumnDefs": [
            {
                "aTargets": [0],
                "bVisible": false,
            },
            {
                "aTargets": [15],
                "bVisible": false,
            },
            {
                "aTargets": [16],
                "bSortable": false,
                "mRender": function (data, type, row) {
                    if (row[15] == "False") {
                        return '<input type="button" class="btn btn-block btn-success isle" value="İşle" Id ="' + row[0] + '"/>';
                    }
                    return '';
                }
            }]
        });
    }

    function Isle(id) {
        $.ajax({
            type: 'POST',
            url: "Default/Isle",
            data: "id=" + id,
            dataType: 'json',
            success: function (msg) {
                $("#tableWlanListesi").dataTable().fnDraw(false);
                return true;
            }
        });
    }
</script>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <table id="tableWlanListesi" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>İL</th>
                            <th>İLÇE</th>
                            <th>OKUL ADI</th>
                            <th>OKUL KODU</th>
                            <th>AP SAYISI</th>
                            <th>WLC1</th>
                            <th>WLC1 IP</th>
                            <th>WLC2</th>
                            <th>WLC2 IP</th>
                            <th>SUNUCU</th>
                            <th>FLEX</th>
                            <th>TESIS</th>
                            <th>IP</th>
                            <th>SUBNET</th>
                            <th></th>
                            <th style="width:5%"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>