@{
    Layout = null;
}


<li class="header">WLC Admin</li>
<li class="treeview">
    <a href="javascript:PageLoad('Default/Liste')"><i class="fa fa-search"></i> <span>Sorgulama</span><i class="fa fa-angle-left pull-right"></i></a>
</li>
<li>
    <a href="javascript:PageLoad('Default/Rapor')"><i class="fa fa-cube"></i> <span>Rapor</span><i class="fa fa-angle-left pull-right"></i></a>
</li>
